header {
  height: 10vh;
  background: $charcoal-secondary;
  @include flex(center, center, row);
  .wrapper {
    @include flex(center, center, row);
    height: 75%;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  img {
    width: 60%;
  }
}
main {
  background: #082032;
  height: auto;
  min-height: 90vh;
  position: relative;
}
.main-section {
  @include grid(repeat(2, 1fr), auto);
  gap: 2rem;
  height: 100%;
  position: relative;
  width: 95%;
  margin: auto;
  margin-top: 5vh;
}
.buttons {
  width: 90%;
  height: 5%;
  margin: auto;
  @include grid(repeat(2, 1fr), 1fr);
}
.wrap-toggle {
  @include flex(flex-start, flex-end, row);
}
.wrap-clear {
  @include flex(flex-end, flex-end, row);
}
// nav
.nav {
  height: 90%;
  width: 35%;
  position: fixed;
  top: 10%;
  left: 0%;
  transform: translateX(-100%);
  transition: all 250ms ease-in-out;
  background: $charcoal-secondary;
  ul {
    width: 95%;
    margin: auto;
    margin-top: 1%;
    font-size: 1.6rem;
    padding: 1rem;
  }
  li {
    margin-top: 10%;
    transition: all 80ms ease-in-out;
    position: relative;
    width: 35%;
    color: $button-gray;
    cursor: pointer;
  }
  li:hover {
    transform: scale(1.05);
    color: $cultured;
  }
  li::after {
    content: "";
    position: absolute;
    height: 1.2px;
    bottom: -1.5px;
    left: 0%;
    right: 0%;
    width: 0%;
    margin: 0 auto;
    transition: 100ms ease-in-out;
  }
  li:hover::after {
    width: 80%;
    background: $alt-orange;
  }
  .current-tasks {
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    color: $cultured;
  }
}
.nav-active {
  transform: translateX(0%);
}
// TODO create li-active class
.toggle {
  border: none;
  position: absolute;
  padding: 0.8rem;
  font-size: 3rem;
  top: 0;
  right: 0;
  transform: translateX(100%);
  color: $cultured;
  .fa-th-list {
    display: block;
  }
  .fa-times {
    display: none;
  }
}
.wrap-clear {
  width: 98%;
  @include flex(flex-end, center, row);
}
.clear {
  margin-top: 0.5%;
  i {
    font-size: 3.5rem;
    color: $button-gray;
    transition: all 150ms ease-in-out;
  }
  i:hover {
    color: $cultured;
  }
}
.task-wrapper {
  @include grid(1fr, 0.2fr auto 0.2fr 0.2fr);
  background: rgba($rich-black, $alpha: 0.3);
  transition: all 100ms ease-in-out;
  color: $cultured;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  border-radius: 1rem;
}
.check-wrapper {
  position: absolute;
  top: 2%;
  right: 2%;
  i {
    font-size: 2rem;
    color: $cultured;
  }
}

.data-wrap {
  @include grid(repeat(2, 1fr), 1fr);
  font-size: 1.4rem;
}
.data-header {
  color: $button-gray;
}
.desc-wrap {
  @include grid(1fr, 0.2fr minmax(20rem, auto));
  height: auto;
  .data-header {
    margin-top: 0.5rem;
  }
  .info-wrapper {
    overflow-wrap: anywhere;
    word-break: break-all;
  }
}
.task-wrapper,
.data-wrap,
.desc-wrap {
  gap: 1rem;
}
.header-wrapper {
  text-align: center;
  margin-top: 1vh;
}
.info-desc {
  @include flex(flex-start, flex-start, row);
}
.data-header,
.info-desc,
.date-wrap,
.prio-wrap {
  width: 95%;
  height: 100%;
  margin: auto;
}
.check-active {
  opacity: 0.55;
}
.check-active-btn {
  i {
    color: $button-persian;
  }
}
