header {
  height: 10vh;
  background: $charcoal-secondary;
  @include flex(center, center, row);
  .wrapper {
    @include flex(center, center, row);
    height: 75%;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  img {
    width: 60%;
  }
}
main {
  height: 90vh;
  position: relative;
}
.main-section {
  background: #082032;
  height: 100%;
}
.buttons {
  width: 90%;
  height: 5%;
  margin: auto;
  @include grid(repeat(2, 1fr), 1fr);
}
.btn-wrap {
  i {
    color: $button-gray;
    font-size: 2.5rem;
    transition: all 150ms ease-in-out;
  }
}
.btn-wrap:hover {
  i {
    color: $cultured;
  }
}
.wrap-toggle {
  @include flex(flex-start, flex-end, row);
}
.wrap-clear {
  @include flex(flex-end, flex-end, row);
}
.task-wrapper {
  height: 94%;
}

// nav
.nav {
  height: 90%;
  width: 35%;
  position: fixed;
  top: 10%;
  left: 0%;
  transform: translateX(-100%);
  transition: all 250ms ease-in-out;
  background: $charcoal-secondary;
  ul {
    width: 95%;
    margin: auto;
    margin-top: 1%;
    font-size: 1.6rem;
    padding: 1rem;
  }
  li {
    margin-top: 10%;
    transition: all 80ms ease-in-out;
    position: relative;
    width: 35%;
    color: $button-gray;
    cursor: pointer;
  }
  li:hover {
    transform: scale(1.05);
    color: $cultured;
  }
  li::after {
    content: "";
    position: absolute;
    height: 1.2px;
    bottom: -1.5px;
    left: 0%;
    right: 0%;
    width: 0%;
    margin: 0 auto;
    transition: 100ms ease-in-out;
  }
  li:hover::after {
    width: 80%;
    background: $alt-orange;
  }
  .current-tasks {
    width: 95%;
    margin: auto;
    margin-top: 2rem;
    color: $cultured;
  }
}
.nav-active {
  transform: translateX(0%);
}
// TODO create li-active class
.toggle {
  border: none;
  position: absolute;
  padding: 0.8rem;
  font-size: 2rem;
  top: 0;
  right: 0;
  transform: translateX(100%);
  color: $cultured;
  .fa-th-list {
    display: block;
  }
  .fa-times {
    display: none;
  }
}
.clear {
  margin: 0.5vh;
}
