$cultured: #f5f5f5;
$portland: #ff4c29;
$alt-orange: #f8733b;
$blue-main: #082032;
$charcoal-secondary: #2c394b;
$button-gray: #d5d5d5;

@mixin flex($justify, $align, $dir) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}
@mixin grid($col, $row) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
}
