$cultured: #f5f5f5;
$button-gray: #d5d5d5;
$dark-main: #121212;
$dark-sec: #1f1f1f;
$dark-tert: #292929;
$dark-fifth: #474747;
$cerulean: #3faad7;
$red-cta: #ff0021;
$green-cta: #5cdb5c;

@mixin flex($justify, $align, $dir) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}
@mixin grid($col, $row) {
  display: grid;
  grid-template-columns: $col;
  grid-template-rows: $row;
}
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}
$breakpoints: (
  "sphone": 280px,
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
  "fourK": 3800px,
);

@mixin mq($breakpoint) {
  @if $breakpoint==sphone {
    @media only screen and (max-width: 280px) {
      @content;
    }
  }
  @if $breakpoint==phone {
    @media only screen and (min-width: 400px) {
      @content;
    }
  }
  @if $breakpoint==phone-wide {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }
  @if $breakpoint==phablet {
    @media only screen and (min-width: 560px) {
      @content;
    }
  }
  @if $breakpoint==tablet-small {
    @media only screen and (min-width: 640px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet-wide {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint==desktop {
    @media only screen and (min-width: 1248px) {
      @content;
    }
  }
  @if $breakpoint==desktop-wide {
    @media only screen and (min-width: 1440px) {
      @content;
    }
  }
  @if $breakpoint==fourK {
    @media only screen and (min-width: 3800px) {
      @content;
    }
  }
}
